/* You can add global styles to this file, and also import other style files */
.catcall{list-style: none;padding: 0;}
.cat{display: inline-block;margin: 0 10px 15px;font-weight: 600;cursor: pointer;}